<% layout('./layout/boilerplate.ejs') %>
<body>
    <div class="aboutmediv">
        <div class="aboutmeh1">
            <h1>About <span class="mee">me</span></h1>
        </div>
        <div class="PersonalInfos">
            <h3>Personal Infos :</h3>
        </div>
       <div class="info">
         <div class="allinfo">
          <div class="ek">
            <p class="changecolor">First Name:</p>
            <p>Hamesh</p>
          </div>
          <div class="do">
            <p class="changecolor">Last Name:</p>
            <p>Yadav</p>
          </div>
         </div>
         <div class="allinfo">
          <div class="ek">
            <p class="changecolor">Age:</p>
            <p>22</p>
          </div>
          <div class="do">
            <p class="changecolor">Nationality:</p>
            <p>Indian</p>
          </div>
         </div>
         <div class="allinfo">
          <div class="ek">
            <p class="changecolor">Phone:</p>
            <p>6377743999</p>
          </div>
          <div class="do">
            <p class="changecolor">Email:</p>
            <p>Work.hamesh@gmail.com</p>
          </div>
         </div>
         <div class="allinfo">
          <div class="ek">
            <p class="changecolor">Address:</p>
            <p>Jaipur Rajasthan</p>
          </div>
          <div class="do">
            <p class="changecolor">Langages:</p>
            <p>Hindi, (Basic - English)</p>
          </div>
         </div>

         
         </div>
       </div>

       <div class="cv">
        <a href="/doc/cv.pdf" download="filename.pdf">Download Cv</a>
       </div>

       <div class="myskill">
          <div class="skill">
            <h1>My Skills</h1>
          </div>

          <div class="allskills">
            <div class="forentend">
              <h2>Frontend:</h2>
              <p><i class="fa-brands fa-html5"></i>html 5</p>
              <p><i class="fa-brands fa-css3-alt"></i>Css</p>
              <p><i class="fa-brands fa-js"></i>JavaScript</p>
              <p><i class="fa-brands fa-bootstrap"></i>bootstrap</p>
              <p><i class="fa-brands fa-css3"></i></i>tailwind</p>
              <p><i class="fa-brands fa-react"></i>react</p>
            </div>
            <div class="forentend">
              <h2>Backend:</h2>
              <p><i class="fa-brands fa-node"></i>Nodejs</p>
              <p><i>ex</i>Expressjs</p>
              <p><i>M</i>MongoDB</p>
              <p><i>S</i>MySql</p>
            </div>
            
            <div class="forentend">
              <h2>Tools:</h2>
              <p><i class="fa-brands fa-square-git"></i>Git</p>
              <p><i class="fa-brands fa-github"></i>GitHub</p>
            </div>

          </div>
       </div>

       <div class="education">
         <div class="headingeducation">
          <h1>Education</h1>
         </div>
         <div class="edu">
          <div class="alledu">
            <span class="material-symbols-outlined">
              school
              </span>
              <p>
                Bachelor of Science Honours - RAJ RISHI COLLEGE , ALWAR
              </p>
          </div>
          <div class="alledu">
            <span class="material-symbols-outlined">
              school
              </span>
              <p>
                12th - Saraswati Public Sr.Sec.School Joria <br>
                Board - RBSE , Percentage - 77.00% (2019)
              </p>
          </div>
          <div class="alledu ee">
            <span class="material-symbols-outlined">
              school
              </span>
              <p>
                10th- Saraswati Public Sr.Sec.School Joria <br>
                Board - RBSE , Percentage - 60.00% (2017)
              </p>
          </div>
         </div>
       </div>

    </div>

</body>


