<nav>
<ul>
    <a href="/home">
        <div class="icon">
            <p>Home</p>
            <span class="material-symbols-outlined" id="homeicon">
                home_app_logo
            </span>
        </div>
    </a>
    <a href="/about">
        <div class="icon">
            <p>About</p>
            <span class="material-symbols-outlined">
                person_2
            </span>
        </div>
    </a>
    <!-- <a href="">
        <div class="icon">
            <p>Portfolio</p>
            <span class="material-symbols-outlined">
                folder_open
            </span>
        </div>
    </a> -->
    <a href="/contact">
        <div class="icon">
            <p>Contact</p>
            <span class="material-symbols-outlined">
                mail
            </span>
        </div>
    </a>
</ul>
<div class="menubar">
   <a href="/home"><span class="material-symbols-outlined" id="menubaricon">
    home_app_logo
</span></a>
   <a href="/about">
    <span class="material-symbols-outlined">
        person_2
    </span>
   </a>
   <!-- <a href="">
    <span class="material-symbols-outlined">
        folder_open
    </span>
   </a> -->
   <a href="">
    <span class="material-symbols-outlined">
        mail
    </span>
   </a>
</div>
</nav>